doctype html 
html(lang="es")
head
    title PUG
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
    h1 Ingrese Producto
    form(method="post" action="/productos")
        input(type="text" name="title" placeholder="title")
        input(type="text" name="price" placeholder="price")    
        button Guardar producto


<a href="/productos"><button>Ver productos</button></a>